<ion-view title="CHANNELS" id="page11" style="background-color:#666D9B;" ng-controller="channelsCtrl as vm" >
    <channel-panel dst-y="-200">
        <div class="row channel-bar">
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col">

        </div>
      </div>
          <div class="row channel-bar">
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col" >

        </div>
      </div>
          <div class="row channel-bar">
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col">

        </div>
      </div>
          <div class="row channel-bar">
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col">
            <div class="channel">
                <h4>ADIDAS</h4>
                <img src="img/ben.jpg">
            </div>
        </div>
        <div class="col" ng-click="vm.toggle()">
            <div class="channel-button channel-dropdown">
                <span class="icon ion-social-buffer"></span>
            </div>
        </div>
      </div>
      </channel-panel>
    
    <ion-content padding="false" class="has-header has-channel-panel" ng-click="vm.togglePanelIfOpen()">
      <div class="channel-feed">
        <div class="row">
            <div class="col-33">
                <div class="channel-box channel-box-small">
                    <img class="channel-box-img" src="img/tall/girl.jpg">
                    <div class="heading">
                        <img class="stryx-avatar" src="img/profile/mud1kqzuTvS7Cf5QQvcW_headshot.jpg">
                            <div class="author-name-contain">
                                <h5 class="author-name">Gerrar Fle</h5>
                            </div>
                        </div>
                    <div class="footing">
                        <h2 class="caption">Jasmine Colston</h2>
                        <div class="stats">
                            <span class="stat-text"> 42 </span>
                            <span class="icon ion-heart stat-likes"></span> &nbsp;&nbsp;
                            <span class="stat-text"> 96 </span>
                            <span class="icon ion-android-share-alt stat-shares"></span>
                        </div>
                    </div>
                </div>
                <div class="channel-box channel-box-small">
                    <img class="channel-box-img" src="img/tall/selfie.png">
                    <div class="heading">
                        <img class="stryx-avatar" src="img/profile/mud1kqzuTvS7Cf5QQvcW_headshot.jpg">
                            <div class="author-name-contain">
                                <h5 class="author-name">Gerrar Fle</h5>
                            </div>
                        </div>
                    <div class="footing">
                        <h2 class="caption">Selfies</h2>
                        <div class="stats">
                            <span class="stat-text"> 42 </span>
                            <span class="icon ion-heart stat-likes"></span> &nbsp;&nbsp;
                            <span class="stat-text"> 96 </span>
                            <span class="icon ion-android-share-alt stat-shares"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-67">
                <div class="channel-box channel-box-large">
                    <img class="channel-box-img" src="img/tall/church.jpg">
                    <div class="heading">
                        <img class="stryx-avatar" src="img/profile/mud1kqzuTvS7Cf5QQvcW_headshot.jpg">
                            <div class="author-name-contain">
                                <h5 class="author-name">Gerrar Fle</h5>
                            </div>
                        </div>
                    <div class="footing">
                        <h2 class="caption">Gothic Building</h2>
                        <div class="stats">
                            <span class="stat-text"> 42 </span>
                            <span class="icon ion-heart stat-likes"></span> &nbsp;&nbsp;
                            <span class="stat-text"> 96 </span>
                            <span class="icon ion-android-share-alt stat-shares"></span>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
        <div class="row">
            <div class="col channel-box-col">
                <div class="channel-box channel-box-wide">
                    <img class="channel-box-img" src="img/wide/bean.jpg">
                    <div class="heading">
                        <img class="stryx-avatar" src="img/profile/mud1kqzuTvS7Cf5QQvcW_headshot.jpg">
                            <div class="author-name-contain">
                                <h5 class="author-name">Gerrar Fle</h5>
                            </div>
                        </div>
                    <div class="footing">
                        <h2 class="caption">Chicago</h2>
                        <div class="stats">
                            <span class="stat-text"> 42 </span>
                            <span class="icon ion-heart stat-likes"></span> &nbsp;&nbsp;
                            <span class="stat-text"> 96 </span>
                            <span class="icon ion-android-share-alt stat-shares"></span>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
        <div class="row">
            <div class="col channel-box-col">
                <div class="channel-box channel-box-extra-large">
                    <img class="channel-box-img" src="img/tall/dubai.jpg">
                    <div class="heading">
                        <img class="stryx-avatar" src="img/profile/mud1kqzuTvS7Cf5QQvcW_headshot.jpg">
                            <div class="author-name-contain">
                                <h5 class="author-name">Gerrar Fle</h5>
                            </div>
                        </div>
                    <div class="footing">
                        <h2 class="caption">Dubai</h2>
                        <div class="stats">
                            <span class="stat-text"> 42 </span>
                            <span class="icon ion-heart stat-likes"></span> &nbsp;&nbsp;
                            <span class="stat-text"> 96 </span>
                            <span class="icon ion-android-share-alt stat-shares"></span>
                        </div>
                    </div>
                </div>  
            </div>
        </div>   
        <div class="row">
            <div class="col-67">
                <div class="channel-box channel-box-large">
                    <img class="channel-box-img" src="img/tall/dress.jpg">
                    <div class="heading">
                        <img class="stryx-avatar" src="img/profile/mud1kqzuTvS7Cf5QQvcW_headshot.jpg">
                            <div class="author-name-contain">
                                <h5 class="author-name">Gerrar Fle</h5>
                            </div>
                        </div>
                    <div class="footing">
                        <h2 class="caption">Paris Fashion</h2>
                        <div class="stats">
                            <span class="stat-text"> 42 </span>
                            <span class="icon ion-heart stat-likes"></span> &nbsp;&nbsp;
                            <span class="stat-text"> 96 </span>
                            <span class="icon ion-android-share-alt stat-shares"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-33">
                <div class="channel-box channel-box-small">
                    <img class="channel-box-img" src="img/tall/paris.jpg">
                    <div class="heading">
                        <img class="stryx-avatar" src="img/profile/mud1kqzuTvS7Cf5QQvcW_headshot.jpg">
                            <div class="author-name-contain">
                                <h5 class="author-name">Gerrar Fle</h5>
                            </div>
                        </div>
                    <div class="footing">
                        <h2 class="caption">The Eiffel Tower</h2>
                        <div class="stats">
                            <span class="stat-text"> 42 </span>
                            <span class="icon ion-heart stat-likes"></span> &nbsp;&nbsp;
                            <span class="stat-text"> 96 </span>
                            <span class="icon ion-android-share-alt stat-shares"></span>
                        </div>
                    </div>
                </div>
                <div class="channel-box channel-box-small">
                    <img class="channel-box-img" src="img/tall/gothic.jpg">
                    <div class="heading">
                        <img class="stryx-avatar" src="img/profile/mud1kqzuTvS7Cf5QQvcW_headshot.jpg">
                            <div class="author-name-contain">
                                <h5 class="author-name">Gerrar Fle</h5>
                            </div>
                        </div>
                    <div class="footing">
                        <h2 class="caption">Gothic Architecture </h2>
                        <div class="stats">
                            <span class="stat-text"> 42 </span>
                            <span class="icon ion-heart stat-likes"></span> &nbsp;&nbsp;
                            <span class="stat-text"> 96 </span>
                            <span class="icon ion-android-share-alt stat-shares"></span>
                        </div>
                    </div>
                </div>
            </div>   
        </div>
        <div class="row">
            <div class="col channel-box-col">
                <div class="channel-box channel-box-wide">
                    <img class="channel-box-img" src="img/wide/pyramid.jpg">
                    <div class="heading">
                        <img class="stryx-avatar" src="img/profile/mud1kqzuTvS7Cf5QQvcW_headshot.jpg">
                            <div class="author-name-contain">
                                <h5 class="author-name">Gerrar Fle</h5>
                            </div>
                        </div>
                    <div class="footing">
                        <h2 class="caption">The Louvre</h2>
                        <div class="stats">
                            <span class="stat-text"> 42 </span>
                            <span class="icon ion-heart stat-likes"></span> &nbsp;&nbsp;
                            <span class="stat-text"> 96 </span>
                            <span class="icon ion-android-share-alt stat-shares"></span>
                        </div>
                    </div>
                </div>  
            </div>
        </div> 
        <div class="row">
            <div class="col channel-box-col">
                <div class="channel-box channel-box-extra-large">
                    <img class="channel-box-img" src="img/tall/benben.jpg">
                    <div class="heading">
                        <img class="stryx-avatar" src="img/profile/mud1kqzuTvS7Cf5QQvcW_headshot.jpg">
                        <div class="author-name-contain">
                            <h5 class="author-name">Gerrar Fle</h5>
                        </div>
                        
                    </div>
                    <div class="footing">
                        <h2 class="caption">Dubai</h2>
                        <div class="stats">
                            <span class="stat-text"> 42 </span>
                            <span class="icon ion-heart stat-likes"></span> &nbsp;&nbsp;
                            <span class="stat-text"> 96 </span>
                            <span class="icon ion-android-share-alt stat-shares"></span>
                        </div>
                    </div>
                </div>  
            </div>
        </div>   
      </div>
  </ion-content>
</ion-view>