<ion-view title="FEED" id="page1">
    <div class="tabs-striped tabs-top tabs-color-light">
        <div class="tabs gradient-bg-tab">
          <a class="tab-item">       
            MY FEED
          </a>
          <a class="tab-item active" >
            FOLLOWING
          </a>
          <a class="tab-item">
          </a>
        </div>
    </div>
    <ion-content padding="true" class="has-header has-tabs-top">
    <div class="list card post" id="feed-card21">
          <div class="row feed-header">
            <div class="col-20">
                <img class="stryx-avatar border-green" src="img/UZWgcFwgSI6HOqwJyzlX_headshot.jpg">
            </div>
            <div class="col-60 col-center">
                <div class="feed-header-text">
                    <h5>Maurin Drake</h5>
                    <p>#Traveling #Norwegia</p>
                </div>
            </div>
            <div class="col-20 col-center">
                    <p class="feed-time" style="text-align:right;"> 5 mins</p>
            </div>
          </div>
      <div class="row">
          <div class="col">
                         <img src="img/bridge-to-nowhere.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </div>
          <div class="col">

                      <img src="img/I6wO7v2nSK6Ep9T0dxzL_Stourhead_garden.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </div>

      </div>
      <div id="feed-container3">
        <p style="text-align:left;">
          <span class="feed-likes feed-bubble"> <span class="icon ion-heart"></span> 280</span>
            <span class="feed-comments feed-bubble"> <span class="icon ion-chatbubble"></span> 15</span>
        <span class="feed-shares feed-bubble"> <span class="icon ion-android-share-alt"></span> 5</span>
        </p>
      </div>
    </div>
    <div class="list card post" id="feed-card22">       
           <div class="row feed-header">
            <div class="col-20">
                <img class="stryx-avatar border-yellow" src="img/UWPya0OCQCm7Aax5hsBw_Beautiful_Asian.jpg">
            </div>
            <div class="col-60 col-center">
                <div class="feed-header-text">
                    <h5>Ellen Dempsey</h5>
                    <p>#WaterLillies</p>
                </div>
            </div>
            <div class="col-20 col-center">
                    <p class="feed-time" style="text-align:right;"> 32 mins</p>
            </div>
          </div>
      <div class=" row">
          <div class="col">
                  <img src="img/0TBQKlWgSeaBjHG0guC0_water_lillies.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </div>
      </div>
      <div id="feed-container4">
        <p style="text-align:left;">
          <span class="feed-likes feed-bubble"> <span class="icon ion-heart"></span> 280</span>
            <span class="feed-comments feed-bubble"> <span class="icon ion-chatbubble"></span> 15</span>
        <span class="feed-shares feed-bubble"> <span class="icon ion-android-share-alt"></span> 5</span>
        </p>
      </div>
    </div>
    <div class="list card post" id="feed-card23">
        <div class="row feed-header">
            <div class="col-20">
                <img class="stryx-avatar border-blue" src="img/mud1kqzuTvS7Cf5QQvcW_headshot.jpg">
            </div>
            <div class="col-60 col-center">
                <div class="feed-header-text">
                    <h5>Sawyer Reiley</h5>
                    <p>#Room</p>
                </div>
            </div>
            <div class="col-20 col-center">
                    <p class="feed-time" style="text-align:right;"> 51 mins</p>
            </div>
          </div>
      <div class="row">
          <div class="col">
            <img src="img/LmJJSaCR6uLO1Lgg485T_Room_823743.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </div>
          <div class="col">
            <img src="img/draco.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
          </div>
      </div>
              <div class="row">
          <div class="col">
            <img src="img/snake.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;"> 
          </div>
          <div class="col">
              <div class="last-pic">
                  <div class="more-overlay">
                    <span>+3</span>
                  </div>
              </div>
          </div>
        
      </div>
      <div id="feed-container5">
        <p style="text-align:left;">
          <span class="feed-likes feed-bubble"> <span class="icon ion-heart"></span> 280</span>
            <span class="feed-comments feed-bubble"> <span class="icon ion-chatbubble"></span> 15</span>
            <span class="feed-shares feed-bubble"> <span class="icon ion-android-share-alt"></span> 5</span>
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>