<ion-view title="FRIENDS" id="page2">
    <div class="tabs-striped tabs-top tabs-background-royal tabs-color-light">
        <div class="tabs">
          <a class="tab-item">       
            FOLLOWING
          </a>
          <a class="tab-item active" >
            FOLLOWERS
          </a>
          <a class="tab-item">
          </a>
        </div>
    </div>
  <ion-content padding="true" class="has-header has-tabs-top">
        <div class="row">
            <div class="col">
                <a ui-sref="menu.profile" class="friends-link">
                    <div class="contain-img"><img class="stryx-avatar" src="img/62qcZNwYSR2lvoEhmJQN_headshot.jpg"> </div>
                    <h5>Maurin Drake</h5>
                    <p>501 followers</p>
                </a>
            </div>
            <div class="col">
                <a ui-sref="menu.profile" class="friends-link">
                    <div class="contain-img"><img class="stryx-avatar" src="img/urOPImgjQAKNg7VshzKJ_headshot.jpg"> </div>
                    <h5>James McDea</h5>
                    <p>231 followers</p>
                </a>

            </div>
            <div class="col">
              <a ui-sref="menu.profile" class="friends-link">
                <div class="contain-img"><img class="stryx-avatar"src="img/2XjnzknbRzeDbDzymg8W_Beautiful_Asian.jpg"> </div>
                <h5>Ellen Dempsey</h5> 
                <p>144 followers</p>
              </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a ui-sref="menu.profile" class="friends-link">
                    <div class="contain-img"><img class="stryx-avatar" src="img/mud1kqzuTvS7Cf5QQvcW_headshot.jpg"> </div> 
                    <h5>Sawyer Reiley</h5> 
                    <p>231 followers</p>
                </a>
            </div>
            <div class="col">
                <a ui-sref="menu.profile" class="friends-link">
                    <div class="contain-img"><img class="stryx-avatar" src="img/kUOivuMMRNaPrSnx6f9E_Modelling_Headshot_by_Headshot_London_Photography.jpg"> </div> 
                    <h5>Irene Portopolas</h5>
                    <p>630 followers</p>
                </a>
            </div>
            <div class="col">
                <a ui-sref="menu.profile" class="friends-link">
                    <div class="contain-img"><img class="stryx-avatar" src="img/StOUVuWqRzqQHpOkQMP3_114535203_c8ccdaec7c_z.jpg"> </div> 
                    <h5>Tatyana Malceva</h5> 
                    <p>948 followers</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
            <div class="col"> 
                <a ui-sref="menu.profile" class="friends-link">
                    <div class="contain-img"><img class="stryx-avatar" src="img/dzGcJGkRTvmyszphshQb_headshot.jpg"> </div>
                    <h5>Mary Right</h5>
                    <p>520 followers</p>
                </a>
            </div>
            <div class="col"></div>
        </div>
  </ion-content>
</ion-view>