<ion-view title="FRIENDS" id="page2">
    <div class="tabs-striped tabs-top tabs-color-light">
        <div class="tabs gradient-bg-tab">
          <a class="tab-item">       
            FOLLOWING
          </a>
          <a class="tab-item active" >
            FOLLOWERS
          </a>
          <a class="tab-item">
          </a>
        </div>
    </div>
  <ion-content padding="true" class="has-header has-tabs-top">
        <div class="row">
            <div class="col">
                <a ui-sref="menu.profile" class="friends-link">
                    <div class="contain-img"><img class="stryx-avatar" src="img/profile-pic2.png"> </div>
                    <h5>Maurin Drake</h5>
                    <p>501 followers</p>
                </a>
            </div>
            <div class="col">
                <a ui-sref="menu.profile" class="friends-link">
                    <div class="contain-img"><img class="stryx-avatar" src="img/profile-pic1.png"> </div>
                    <h5>James McDea</h5>
                    <p>231 followers</p>
                </a>

            </div>
            <div class="col">
              <a ui-sref="menu.profile" class="friends-link">
                <div class="contain-img"><img class="stryx-avatar"src="img/profile-pic3.png"> </div>
                <h5>Ellen Dempsey</h5> 
                <p>144 followers</p>
              </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a ui-sref="menu.profile" class="friends-link">
                    <div class="contain-img"><img class="stryx-avatar" src="img/profile-pic6.png"> </div> 
                    <h5>Sawyer Reiley</h5> 
                    <p>231 followers</p>
                </a>
            </div>
            <div class="col">
                <a ui-sref="menu.profile" class="friends-link">
                    <div class="contain-img"><img class="stryx-avatar" src="img/profile-pic7.png"> </div> 
                    <h5>Irene Portopolas</h5>
                    <p>630 followers</p>
                </a>
            </div>
            <div class="col">
                <a ui-sref="menu.profile" class="friends-link">
                    <div class="contain-img"><img class="stryx-avatar" src="img/profile-pic9.png"> </div> 
                    <h5>Tatyana Malceva</h5> 
                    <p>948 followers</p>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a ui-sref="menu.profile" class="friends-link">
                    <div class="contain-img"><img class="stryx-avatar" src="img/profile-pic8.png"> </div>
                    <h5>Jessy Mirikitani</h5>
                    <p>99 followers</p>
                </a>
            </div>
            <div class="col"> 
                <a ui-sref="menu.profile" class="friends-link">
                    <div class="contain-img"><img class="stryx-avatar" src="img/profile-pic11.png"> </div>
                    <h5>Mary Right</h5>
                    <p>520 followers</p>
                </a>
            </div>
            <div class="col">
                <a ui-sref="menu.profile" class="friends-link">
                    <div class="contain-img"><img class="stryx-avatar" src="img/profile-pic5.png"> </div>
                    <h5>Vardan Araqelyan</h5>
                    <p>1245 followers</p>
                </a>
            </div>
        </div>
      <div class="row">
            <div class="col">
                <a ui-sref="menu.profile" class="friends-link">
                    <div class="contain-img"><img class="stryx-avatar" src="img/profile-pic10.png"> </div>
                    <h5>Tony Markos</h5>
                    <p>316 followers</p>
                </a>
            </div>
            <div class="col"> 
                <a ui-sref="menu.profile" class="friends-link">
                    <div class="contain-img"><img class="stryx-avatar" src="img/profile-pic4.png"> </div>
                    <h5>Andy Bruce</h5>
                    <p>914 followers</p>
                </a>
            </div>
            <div class="col">
                <a ui-sref="menu.profile" class="friends-link">
                    <div class="contain-img"><img class="stryx-avatar" src="img/mud1kqzuTvS7Cf5QQvcW_headshot.jpg"> </div>
                    <h5>Gerrar Lamouji</h5>
                    <p>1137 followers</p>
                </a>
            </div>
        </div>
  </ion-content>
</ion-view>