<ion-view title="Login" hide-nav-bar="true" id="page7">
  <ion-content padding="true" style="background: url(img/bkwYTlanQSmLqlIfsGIa_photographer.jpg) no-repeat center;background-size:cover;" class="manual-ios-statusbar-padding">
    <form id="login-form1" class="list">
      <div class="spacer" style="width: 300px; height: 44.9896px;"></div>
      <h1 id="login-heading2" style="color:#FFFFFF;text-align:center;">S T R Y X</h1>
      <div>
        <img src="img/Ao1Ut4x9SkeNm7Z2p3FR_white.jpg" style="display: block; width: 30%; height: 2px; margin-left: auto; margin-right: auto;">
      </div>
      <h2 id="login-heading5" style="color:#FFFFFF;font-weight:300;text-align:center;">Report The World</h2>
      <div class="spacer" style="width: 300px; height: 109px;"></div>
      <a ui-sref="menu.feed" id="login-button25" class="button button-positive  button-block social-login"><div class="row"><div class="col-20 social-icon social-icon-facebook"><img src="img/facebook.png"></div><div class="col-80"><span>Connect With Facebook</span></div></div></a>
    </form>
    <a ui-sref="menu.feed" id="login-button26" class="button button-balanced  button-block social-login">
        <div class="row"><div class="col-20 social-icon social-icon-instagram"><img src="img/instagram.png"></div><div class="col-80"><span>Connect With Instagram</span></div></div></a>
    <div class="row sign-buttons">
        <div class="col">
            <a ui-sref="menu.feed" id="login-button18" class="button button-stable  button-block button-outline">Sign In</a>
        </div>
        <div class="col">
            <button id="login-button23" class="button button-stable  button-block button-outline">Sign Up</button>
        </div>
      
      
    </div>
    <div id="login-markdown25" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#C0C0C0;">Terms &amp; Conditions</p>
    </div>
  </ion-content>
</ion-view>