<ion-view title="Gerrar Lamouji" id="page9" style="background-color:#666D9B;">
  <ion-content padding="true" class="has-header has-footer">
    <div class=" from" id="message-list-item-container6">
      <div id="message-markdown11" class="show-list-numbers-and-dots">
        <p>Hi Sandra, How are you?)))</p>
      </div>
    </div>
    <div class=" to" id="message-list-item-container8">
      <div id="message-markdown13" style="text-align:right;" class="show-list-numbers-and-dots">
        <p>Hi Gerrar, I'm fine and you? :)</p>
      </div>
    </div>
    <div class=" from" id="message-list-item-container9">
        <p>Wow that sounds fair! me too :))))</p>
        <p>My friend has a startup, so he needs a good UI designer! Are you Interested?</p>
    </div>
    <div class=" to" id="message-list-item-container10">
      <div id="message-markdown17" style="text-align:right;" class="show-list-numbers-and-dots">
        <p>Yes ! am! Can you explain to me what it is about?</p>
      </div>
    </div>
    <div class=" from" id="message-list-item-container11">
        <p>Cool!</p>
        <p>My friends name is Danis Serobyan, he's a fine Laravel developer. He lives here in Paris :D</p>
    </div>
    <div class=" to" id="message-list-item-container12">
      <div id="message-markdown20" style="text-align:right;" class="show-list-numbers-and-dots">
        <p>Ok :))</p>
      </div>
    </div>
    <div class=" from" id="message-list-item-container13">
      <div id="message-markdown21" class="show-list-numbers-and-dots">
        <p>He's already working with a designer from Yerevan, his name is Vahan Hovhannisyan so when he saw your work on Behance, he advised us to hire you :)</p>
      </div>
    </div>


  </ion-content>
    <div class="bar bar-footer  item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Send a Reply">
        </label>
        <button class="button button-small button-icon ion-android-send">
        </button>
    </div>
</ion-view>