<ion-view title="MESSAGES" hide-back-button="true" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="messages-list7">
      <ion-item class="item-avatar item-icon-right balanced  message" id="messages-list-item18" ui-sref="menu.message({name: 'Maurin Drake'})">
        <img src="img/profile/profile-pic2.png">
        <h2>Maurin Drake</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="online-indicator online">·</span>
          <p class="unread">Hi, Sarah! I'm free now! </p>
          <i class="icon ion-arrow-return-right icon-accessory"></i>
          <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right message" id="messages-list-item24" ui-sref="menu.message({name: 'James McDea'})">
        <img src="img/profile/profile-pic1.png">
        <h2>James McDea</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="online-indicator offline">·</span>
        <p>Hi Jimmy, thanks for sending me</p>
        <i class="icon ion-arrow-return-left icon-accessory"></i>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right  message" id="messages-list-item25" ui-sref="menu.message({name: 'Ellen Dempsey'})">
        <img src="img/profile/profile-pic3.png">
        <h2>Ellen Dempsey</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="online-indicator offline">·</span>
        <p class="unread">Hi, Sarah! I'm free now!</p>
        <i class="icon ion-arrow-return-right icon-accessory"></i>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right balanced  message" id="messages-list-item26" ui-sref="menu.message({name: 'Sawyer Reiley'})">
        <img src="img/profile/profile-pic4.png">
        <h2>Sawyer Reiley</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="online-indicator online">·</span>
          <p class="unread">Ok, Sarah! Dave had seen the mockup and</p>
          <i class="icon ion-arrow-return-right icon-accessory"></i>
          <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right balanced  message" id="messages-list-item27" ui-sref="menu.message({name: 'Irene Portopolas'})">
        <img src="img/profile/profile-pic7.png">
          <h2>Irene Portopolas</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="online-indicator online">·</span>
          <p>Exvaristo Irene!!!))))))))))))</p>
          <i class="icon ion-arrow-return-left icon-accessory"></i>
          <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right balanced  message" id="messages-list-item28" ui-sref="menu.message({name: 'Tatyana Malceva'})">
        <img src="img/profile/profile-pic9.png">
          <h2>Tatyana Malceva</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="online-indicator online">·</span>
          <p class="unread">Ok, Sarah! Dave had seen the mockup and</p>
          <i class="icon ion-arrow-return-left icon-accessory"></i>
          <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right  message" id="messages-list-item29" ui-sref="menu.message({name: 'Mary Right'})">
        <img src="img/profile/profile-pic11.png">
        <h2>Mary Right</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="online-indicator offline">·</span>
        <p>Hi, Mary! I need a beauty model</p>
        <i class="icon ion-arrow-return-right icon-accessory"></i>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>