<ion-view title="Messages" hide-back-button="true" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="messages-list7">
      <ion-item class="item-avatar item-icon-right balanced  message" id="messages-list-item18" ui-sref="menu.message">
        <img src="img/62qcZNwYSR2lvoEhmJQN_headshot.jpg">
        <h2>Maurin Drake</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="online-indicator online">·</span>
          <p class="unread">Hi, Sarah! I'm free now! </p>
          <i class="icon ion-arrow-return-right icon-accessory"></i>
          <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right message" id="messages-list-item24" ui-sref="menu.message">
        <img src="img/urOPImgjQAKNg7VshzKJ_headshot.jpg">
        <h2>James McDea</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="online-indicator offline">·</span>
        <p>Hi Jimmy, thanks for sending me</p>
        <i class="icon ion-arrow-return-left icon-accessory"></i>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right  message" id="messages-list-item25" ui-sref="menu.message">
        <img src="img/2XjnzknbRzeDbDzymg8W_Beautiful_Asian.jpg">
        <h2>Ellen Dempsey</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="online-indicator offline">·</span>
        <p class="unread">Hi, Sarah! I'm free now!</p>
        <i class="icon ion-arrow-return-right icon-accessory"></i>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right balanced  message" id="messages-list-item26" ui-sref="menu.message">
        <img src="img/mud1kqzuTvS7Cf5QQvcW_headshot.jpg">
        <h2>Sawyer Reiley</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="online-indicator online">·</span>
          <p class="unread">Ok, Sarah! Dave had seen the mockup and</p>
          <i class="icon ion-arrow-return-right icon-accessory"></i>
          <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right balanced  message" id="messages-list-item27" ui-sref="menu.message">
        <img src="img/kUOivuMMRNaPrSnx6f9E_Modelling_Headshot_by_Headshot_London_Photography.jpg">
          <h2>Irene Portopolas</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="online-indicator online">·</span>
          <p>Exvaristo Irene!!!))))))))))))</p>
          <i class="icon ion-arrow-return-left icon-accessory"></i>
          <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right balanced  message" id="messages-list-item28" ui-sref="menu.message">
        <img src="img/StOUVuWqRzqQHpOkQMP3_114535203_c8ccdaec7c_z.jpg">
          <h2>Tatyana Malceva</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="online-indicator online">·</span>
          <p class="unread">Ok, Sarah! Dave had seen the mockup and</p>
          <i class="icon ion-arrow-return-left icon-accessory"></i>
          <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
      <ion-item class="item-avatar item-icon-right  message" id="messages-list-item29" ui-sref="menu.message">
        <img src="img/dzGcJGkRTvmyszphshQb_headshot.jpg">
        <h2>Mary Right</h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="online-indicator offline">·</span>
        <p>Hi, Mary! I need a beauty model</p>
        <i class="icon ion-arrow-return-right icon-accessory"></i>
        <ion-option-button class="button-assertive">Delete</ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>