
<ion-view title="Profile" id="page10" hide-nav-bar="true"> 
  <ion-content padding="true" style="background: url(img/oyVZ1JdQFibW4PmUzH4c_white_girl_with_headphones.jpg) no-repeat center;background-size:cover;" class="has-footer">
      <span class="icon ion-close-round profile-close" ng-click="$ionicGoBack()" nav-transition="none"></span>
    <div class="spacer" style="width: 299.716px; height: 150px;"></div>
      <div class="overlay padding-vertical">
          <div class="row" style="color:white;text-align:center;font-size:20px;">
              <div class="col"><span class="ion-heart bubble likes"></span> 1140</div>
              <div class="col"><span class="ion-eye bubble views"></span> 1989</div>
              <div class="col"><span class="ion-chatbubble bubble comments"></span> 510</div>
          </div>
          <br>
          <div class="row">
            <div class="col">    
                <h3 id="profile-heading4" style="color:white;text-align:center;">Maurine Drake</h3>
                <div id="profile-markdown24" style="text-align:center;" class="show-list-numbers-and-dots">
                    <p style="margin-top:0px;color:white;">Artist, Designer, Toronto</p>
                </div>
              </div>
          </div>
          <div class="row" style="color:white;text-align:center;font-size:16px;">
              <div class="col">13 <br> Channels</div>
              <div class="col">2548 <br> Followers</div>
              <div class="col">1476 <br> Following</div>
          </div>
          <div class="row">
              <div class="col-25"></div>
              <div class="col-50">    
                  <button id="profile-button22" style="color:#6D2DC9;" class="button button-stable  button-block icon-right ion-android-add" style="font-weight:bold;">FOLLOW</button>
              </div>
              <div class="col-25"></div>
          </div>
        </div>


  </ion-content>
    <div class="bar bar-footer bar-stable">
        <div id="profile-button-bar4" class="button-bar">
          <button id="profile-button19" class="button button-clear" style="font-weight:bold;">Posts</button>
          <button id="profile-button20" class="button button-clear" style="font-weight:bold;">Photos</button>
          <button id="profile-button21" class="button button-clear" style="font-weight:bold;" ui-sref="menu.message">Message</button>
        </div>
      </div>
</ion-view>
