<ion-view title="Search" id="page4" style="background-color:#3B446D;">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="width: 299.716px; height: 44px;"></div>
    <div id="search-button-bar1" class="button-bar">
      <button id="search-button7" class="button button-light button-small button-block button-outline">PEOPLE</button>
      <button id="search-button8" class="button button-stable button-small button-block">CHANNELS</button>
      <button id="search-button9" class="button button-light button-small button-block button-outline">TRENDING</button>
    </div>
    <form id="search-form8" class="list">
      <div class="spacer" style="width: 299.716px; height: 60px;"></div>
      <label class="item item-input" id="search-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
  </ion-content>
</ion-view>