<ion-view title="SETTINGS" id="page5">
  <ion-content padding="true" class="has-header">
    <ion-list id="settings-list6" class="manual-list-fullwidth">
      <ion-item class="item-divider" id="settings-list-item-divider2"> GENERAL</ion-item>
      <ion-toggle toggle-class="toggle-balanced" id="settings-toggle1" name="notifications">Notifications</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="settings-toggle2" name="sounds">Sounds</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="settings-toggle3" name="continuous">Continuous Contact Upload</ion-toggle>
      <ion-toggle toggle-class="toggle-balanced" id="settings-toggle4" name="external">Links Open Externally</ion-toggle>
      <ion-item id="settings-list-item15">Videos Play Automatically
        <span class="item-note">Off</span>
      </ion-item>
      <ion-item id="settings-list-item14">Language
        <span class="item-note">Device Language</span>
      </ion-item>
      <ion-item class="item-divider" id="settings-list-item-divider3"> PHOTOS</ion-item>
      <ion-toggle toggle-class="toggle-balanced" ng-checked="true" id="settings-toggle5" name="Enhance">Enhance Photos Automatically</ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>